* {
  font-family: Arial;
}

.talentgrid {
  display: flex;
  flex-direction: column;
}

.talenttier {
  flex-grow: 1;
  flex-wrap: wrap;
  display: flex;
  flex-direction: row;
  align-content: center;
}

.tiername {
  flex-basis: 100px;
}
.talent {
  flex-grow: 1;
  flex-basis: 300px;
  flex-direction: column;
  align-items: stretch;
  display: flex;
  border: solid 1px black;
  border-radius: 5px;
}

.talent div {
  flex-grow: 1;
}

.unchanged {
  color: grey;
}

.moved {
  font-style: italic;
}

.new {
  font-weight: bold;
}

.removed {
  text-decoration: line-through;
}

footer {
  font-size: x-small;
}


